body{
    margin: 0;
}
p{
    width: 700px;
    margin: 30px auto;
    text-align: justify;
    font: 20px
}
h1{
    width: 700px;
    color: forestgreen;
    margin: 30px auto;
    font: 50px / 1 fantasy;
    /*text-align: center;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h1::before, h1::after{
    width: 50px; height: 50px;
    content: "";
    background: orangered;
    display: block;
}
p::before{
    color: #f00;
    content: "Начало: ";
}
p::after{
    color: darkviolet;
    content: attr(title);
}

.main{
    width: 700px; height: 500px;
    margin: 0 auto 30px;
    background: cornflowerblue;
    position: relative;
}
.el{
    width: 100px;
    height: 100px;
}
.el1{
    background: crimson;
    width: auto;
    height: auto;
    position: absolute;
    top: 50px;
    bottom: 50px;
    left: 50px;
    right: 50px;
    z-index: 2;
}
.el2{
    background: darkcyan;
    position: relative;
    top: 20px;
    left: -40px;
    z-index: 1;
}
.el3{
    background: darkkhaki;
    position: fixed;
    top: calc(50vh - 50px);
    left: calc(50% - 50px);
    z-index: 3;
}