body {
    margin: 0;
    background: peachpuff;
    display: flex;
    flex-direction: column;
    color: white;
}





footer {
    height: 45vh;
    background: rgb(40, 35, 40);
}
footer p {
    height: 25vh;
    text-align: center;
    line-height: 25vh;
}
footer .links {
    width: 15vw;
}
.bottom {
    height: 10vh;
    padding: 0 5vw;
    border-top: 1px solid white;
    box-sizing: border-box;
    font-size: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.bar {
    height: 10vh;
    background: rgb(22, 15, 22);
}
.logo {
    height: 8.5vh;
    border-top: 1px solid rgb(47, 42, 47);
    border-left: 1px solid rgb(47, 42, 47);
    border-right: 1px solid rgb(22, 15, 22);
    border-bottom: 1px solid rgb(22, 15, 22);
}




a {
    text-decoration: none;
    color: inherit;
}
p {
    padding: 0;
    margin: 0;
}
.links{
    margin: 0;
    padding: 0;
    width: 30vw;
    list-style: none;
    display: flex;
    justify-content: space-between;
}
